python-telegram-bot
toml
redis~=3.5.3
Babel~=2.9.0
jstyleson~=0.0.2
pytz~=2020.4
beautifulsoup4~=4.9.3
requests~=2.25.1
googletrans==4.0.0rc1
pillow~=8.0.1
pygenstub~=1.4.1
emoji-country-flag~=1.2.3
spamwatch~=0.3.0
cachetools==4.1.1
sentry-sdk~=0.19.5