python-telegram-bot<14
toml
redis~=3.5.3
Babel~=2.9.0
jstyleson~=0.0.2
pytz~=2021.1
beautifulsoup4~=4.9.3
requests~=2.25.1
googletrans==4.0.0rc1
pillow~=8.2.0
pygenstub~=2.0.1
emoji-country-flag~=1.2.4
spamwatch~=0.3.0
cachetools==4.2.2
sentry-sdk~=1.1.0
pygelf~=0.4.0
bleach~=3.3.0
fakeredis~=1.5.0