# This is a basic workflow to help you get started with Actions

name: Docker

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    workflow_dispatch: # on button click
    branches:
      - master
    paths:
      - '**.py'
      - 'requirements*.txt'
      - '.github/workflows/docker.yml'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    name: Build docker image
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@master
      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        env:
          DOCKER_BUILDKIT: "1"
        with:
          name: octo-tg-bot/octotgbot
          username: ${{ github.repository_owner }}
          password: ${{ secrets.USER_GH_TOKEN }}
          registry: ghcr.io
          buildargs: CI,GITHUB_SHA,GITHUB_RUN_NUMBER,GITHUB_REF
  deployment:
    name: Deploy docker image
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: start deployment
        uses: bobheadxi/deployments@master
        id: deployment
        with:
          step: start
          token: ${{ secrets.GITHUB_TOKEN }}
          env: telegram

      - name: Send request to Watchtower HTTP API
        run: 'curl -H "Token: ${{ secrets.WT_TOKEN }}" ${{ secrets.WT_URL }}'

      - name: update deployment status
        uses: bobheadxi/deployments@master
        if: always()
        with:
          step: finish
          token: ${{ secrets.GITHUB_TOKEN }}
          status: ${{ job.status }}
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}
